In [2]:
import pandas as pd
import wbgapi as wb

/Users/chengruzou/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/chengruzou/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
indicators = {
    'gdp_per_capita': 'NY.GDP.PCAP.CD',
    'gdp_growth_rate': 'NY.GDP.MKTP.KD.ZG',
    'inflation_rate': 'FP.CPI.TOTL.ZG',
    'unemployment_rate': 'SL.UEM.TOTL.ZS',
    'total_population': 'SP.POP.TOTL',
    'life_expectancy': 'SP.DYN.LE00.IN',
    'adult_literacy_rate': 'SE.ADT.LITR.ZS',
    'income_inequality': 'SI.POV.GINI',
    'health_expenditure_gdp_share': 'SH.XPD.CHEX.GD.ZS',
    'measles_immunisation_rate': 'SH.IMM.MEAS',
    'education_expenditure_gdp_share': 'SE.XPD.TOTL.GD.ZS',
    'primary_school_enrolment_rate': 'SE.PRM.ENRR',
    'exports_gdp_share': 'NE.EXP.GNFS.ZS'
}

# Get the list of country codes for the "World" region
country_codes = wb.region.members('WLD')

# Download data for countries only in 2022
df = wb.data.DataFrame(indicators.values(), economy=country_codes, time=2022, skipBlanks=True, labels=True).reset_index()

# Delete the 'economy' column
df = df.drop(columns=['economy'], errors='ignore')

# Create a reversed dictionary mapping indicator codes to names
# Rename the columns and convert all names to lowercase
df.rename(columns=lambda x: {v: k for k, v in indicators.items()}.get(x, x).lower(), inplace=True)

# Sort 'country' in ascending order
df = df.sort_values('country', ascending=True)

# Reset the index after sorting
df = df.reset_index(drop=True)

# Display the number of rows and columns
print(df.shape)

# Display the first few rows of the data
print(df.head(3))

# Save the data to a CSV file
df.to_csv('wdi.csv', index=False)

(217, 14)
       country  inflation_rate  exports_gdp_share  gdp_growth_rate  \
0  Afghanistan             NaN          18.380042        -6.240172
1      Albania        6.725203          37.197085         4.826688
2      Algeria        9.265516          30.808979         3.600000

   gdp_per_capita  adult_literacy_rate  primary_school_enrolment_rate  \
0      357.261153                  NaN                            NaN
1     6846.426143                 98.5                      96.371231
2     4961.552577                  NaN                     108.343933

   education_expenditure_gdp_share  measles_immunisation_rate  \
0                              NaN                       56.0
1                         2.744330                       86.0
2                         4.749247                       79.0

   health_expenditure_gdp_share  income_inequality  unemployment_rate  \
0                           NaN                NaN             14.100
1                           NaN                NaN             10.137
2                           NaN                NaN             12.346

   life_expectancy  total_population
0           62.879        40578842.0
1           76.833         2777689.0
2           77.129        45477389.0

In [6]:
display(df)

,country,inflation_rate,exports_gdp_share,gdp_growth_rate,gdp_per_capita,adult_literacy_rate,primary_school_enrolment_rate,education_expenditure_gdp_share,measles_immunisation_rate,health_expenditure_gdp_share,income_inequality,unemployment_rate,life_expectancy,total_population
0,Afghanistan,NaN,18.380042,-6.240172,357.261153,NaN,NaN,NaN,56.0,NaN,NaN,14.100,62.879000,40578842.0
1,Albania,6.725203,37.197085,4.826688,6846.426143,98.500000,96.371231,2.744330,86.0,NaN,NaN,10.137,76.833000,2777689.0
2,Algeria,9.265516,30.808979,3.600000,4961.552577,NaN,108.343933,4.749247,79.0,NaN,NaN,12.346,77.129000,45477389.0
3,American Samoa,NaN,46.957520,1.735016,18017.458938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48342.0
4,Andorra,NaN,NaN,9.564612,42414.059009,NaN,90.147346,2.647290,98.0,NaN,NaN,NaN,NaN,79705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),NaN,97.367295,-1.311232,44320.909186,NaN,NaN,NaN,NaN,NaN,NaN,13.007,80.319512,105413.0
213,West Bank and Gaza,3.741224,18.436253,4.082760,3799.955270,98.000000,91.764587,NaN,97.0,NaN,NaN,24.420,73.444000,5043612.0
214,"Yemen, Rep.",NaN,NaN,NaN,615.702079,NaN,NaN,NaN,53.0,NaN,NaN,17.363,63.720000,38222876.0
215,Zambia,10.993204,40.193998,5.211224,1447.123101,NaN,NaN,3.582595,90.0,NaN,51.5,5.995,61.803000,20152938.0
216,Zimbabwe,104.705171,27.872171,6.139263,2040.552459,89.849998,95.789907,NaN,90.0,NaN,NaN,10.087,59.391000,16069056.0

In [7]:
stats_table = df[["gdp_per_capita", "inflation_rate", "gdp_growth_rate", "unemployment_rate", "health_expenditure_gdp_share"]].describe()
stats_table

,gdp_per_capita,inflation_rate,gdp_growth_rate,unemployment_rate,health_expenditure_gdp_share
count,207.000000,173.000000,206.000000,186.000000,20.000000
mean,20520.336828,12.404067,4.393817,7.227344,9.044045
std,30640.741594,19.467053,6.706923,5.844462,2.703549
min,250.634225,-6.687321,-28.758584,0.130000,5.100000
25%,2599.752468,5.518129,2.545226,3.478000,7.263266
50%,7606.237525,7.930929,4.213483,5.334000,8.925000
75%,27542.145523,11.665567,6.200000,9.261750,10.632500
max,226052.001905,171.205491,63.334587,35.359000,16.571152